  <%= render partial: 'main_slider' %>
    <!-- end: HEADER -->
     
	

         

     
        <!-- /.container -->

   

    <!-- Page Content -->
	 <div class="container">

            <div class="row">
                
              
                    <div class="clearfix"></div>
				
			<br>	<br>	<br>
					 <p class="lead">RealEstateEmails.com is the newest and most up to date Real Estate Email Flyer service provider in the United States. We offer email blasts to agents in every state. Developed by Real Estate agents for Real Estate agents. We know what other agents want and require. We  provide the fastest, easiest, and most economical way to send flyers. <%= render partial: 'shared/login' %>
                </div>
                <div class="col-lg-6">
                    
                </div>
            </div>

        </div>
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                  
                    <div class="clearfix"></div>
                    <h2 class="section-heading">FASTER</h2>
                    <p class="lead">We know that time is of the essence. Your email listings get sent out the same day!
				.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag 'static/faster-real-estate-emails.png', alt: 'Faster Email Delivery' %>
				   
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">MORE REACH</h2>
                    <p class="lead">Our blasts go out to more than triple <br>
what the other companies do. <br>That means better results and happier clients.
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                     <%= image_tag 'static/more-agents.png', alt: 'More Agents' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">LOWEST PRICES</h2>
                    <p class="lead">We know how hard you work for your money <br>and we are here to let you keep more of it. <br>Thats why we are the best priced email blast company. 
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                   <%= image_tag 'static/lowest-prices.png', alt: 'More Agents' %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

  
 
        <!-- /.container -->

    </div>
    <!-- /.banner -->
    
<!-- start: FOOTER -->

<!-- start: MAIN JAVASCRIPTS -->

<script type='text/javascript'>
  jQuery(document).ready(function() {
     Main.init();
     Index.init();
     $.stellar();
   });
</script>


